.Tahoma{font-family:Tahoma, Arial, sans-serif}
.table {display: table; border-spacing: 10px 4px;}
.row {display: table-row;}
.row > * {display: table-cell;}
.row > :first-child {text-align: right;}

div,p {font-family:"Comic Sans MS", "Comic Sans", cursive; }
.missing{color:red;}
.story{color:blue;}
.invisible{display:none;}
.visible{display:contents;}
